<%= link_to 'Request off', new_furlough_path, :class => 'btn'  %>
<%= link_to 'Back', home_path, :class => 'btn'  %><p></p>

<p id="notice"><%= notice %></p>

<div class="row">


<div class="span2">
<div class="page header"><h1>me</h1><small></small></div>

<p>
  <b>Name:</b>
  <%= @employee.first_name + " " + @employee.last_name %>
</p>
<p>
  <b>Hired on:</b>
  <%= @employee.hire_date %><br>
  <b>Years employed:</b>
  <%= @employee.years_employed %>
</p>


<p>
  <h4><b>Earned vacation (+ rollover):</b></h4>
<h2><%= @employee.vacation_days + @employee.rollover %></h2>
</p>
<p>

</div>

  <div class="span2 offset1">
<p>
  <h1>remaining...</h1></p>
  
  <b><h4>Vacation     </b> <i class="icon-search icon-arrow-right"></i> </h4>
  <h1><%= @employee.remaining_vacation_days %></h1>
  <b><h4>Sick     </b> <i class="icon-search icon-arrow-right"></i> </h4>
  <h1><%= @employee.remaining_sick_days %></h1>
</p>
</div>
</div>

<div align="center"><h1><b>my furlough history</b></h1></div>
</p>

<table class="table table-bordered">
  <tr>
    <th>Desc.</th>
    <th></th>  
    <th>From</th>
    <th></th>
    <th>To</th>
    <th></th>  
    <th>Duration</th>
    <th></th>   
    <th>Note</th>
    <th></th>
    <th>Edit</th>
  </tr>

<% @employee.furloughs.each do |furlough| %>
  <tr class="table table-hover">
    <td><%= furlough.description %></td>
    <td></td>    
    <td><%= furlough.date_from %></td>
    <td></td>
    <td><%= furlough.date_to %></td>
    <td></td>
    <td><%= furlough.vacation_duration + furlough.sick_duration + furlough.vacation_duration_last_year + furlough.sick_duration_last_year + furlough.vacation_duration_history + furlough.sick_duration_history %></td>
    <td></td>    
    <td><%= furlough.note %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_furlough_path(furlough), :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</table>

<br />

<p></p>
